In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

my_tuple = ()
print(my_tuple)
type(my_tuple)
print("Hello world")

()
Hello world

In [13]:
my_tuple_2 = (10,20,30,40,50)

for i in range(len(my_tuple_2)):
    print(my_tuple_2[i])

10
20
30
40
50

In [16]:
my_tuple_3 = (1,"Hello", my_tuple_2)

for i in range(len(my_tuple_3)):
    print(my_tuple_3[i])

print(type(my_tuple_3))

1
Hello
(10, 20, 30, 40, 50)
<class 'tuple'>

In [18]:
my_tuple_4 = ("mouse",[8,4,6],(1,2,3))

for i in range(len(my_tuple_4)):
    print(type(my_tuple_4[i]))

<class 'str'>
<class 'list'>
<class 'tuple'>

In [20]:
my_tuple_5 = ("Hello world")
print(type(my_tuple_5))

<class 'str'>

In [34]:
# Here I created a tuple without using the brackets
my_tuple_6 = "Hello",10,"Hello again tuple",2002,[1,2,3,4,5],(1,2,3,4)
print(type(my_tuple_6))
# Accessing the elements using the index same as the 2-d arrays
print("This is the second element of the list = " + str(my_tuple_6[3][1]))

<class 'tuple'>
This is the second element of the list = 2

In [37]:
# WE still won't be able to change the list's index of a tuple element
my_tuple_6[3][1] = 20
print("This is the second element of the list = " + str(my_tuple_6[3][1]))

This is the second element of the list = 20

In [42]:
# you won't be able to change the tuple which is inside a tuple
my_tuple_6[4][1] = 20
print("This is the second element of the list = " + str(my_tuple_6[4][1]))

TypeError: 'tuple' object does not support item assignment

In [43]:
for i in range(len(my_tuple_6)):
    print(my_tuple_6[i])

10
Hello again tuple
2002
[1, 20, 3, 4, 5]
(1, 2, 3, 4)

In [45]:
print('e' in my_tuple_6)

False

In [47]:
a = input(str("Enter a string ="))
print(a in my_tuple_6)

False